/*
* Colors:
*   main: #cdd7d6
*   accent: #f87060
*   secondary: #102542
*/

@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
    font-family: 'Nunito', sans-serif;

}

body {

    width: 900px;
    margin: 0 auto 0 auto;

}

a{
    font-weight: bold;
}

section{
    background-color: #cdd7d6;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

footer{
    background-color: #f87060;
    border-radius: 0 0 10px 10px;
    margin-top: 15px;
    padding: 10px;
}

#main-header{
    padding: 5px;
    background-color: #f87060;
    border-radius: 10px 10px 0 0;
}
#main-header *{
    color: #FFF;
    display: inline;
}

.section-header{
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}

/*Projects section*/
#projects{
    background-color: white;
}

#project-list{
    list-style: none;
}


.project-item{
    width: 200px;
    text-align: center;
    margin: 10px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 15px 15px 10px 10px;
}

.project-name{
    border-radius: 10px 10px 0 0;
    background-color: #102542;
    color: #FFF;
    padding: 10px;
}

.project-date{
    background-color: #DDD;
}

.project-description{
    border-radius: 0 0 10px 10px;
    background-color: #FFF;
    padding: 2px;
}